SOURCE_DB_URL=postgresql+psycopg2://iot:iot@db_source:5432/source_db
TARGET_DB_URL=postgresql+psycopg2://etl:etl@db_target:5432/target_db
SOURCE_API_URL=http://api:8000
DAGSTER_HOME=/opt/dagster/dagster_home
